body {
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;

    /* Flexbox properties to center content */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertical centering */
    min-height: 100vh;        /* Ensure body takes up full viewport height */
}

.container {
    padding: 50px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #b3b3b3;
}

/* Updated image styles */
img {
    width: 70vw;             /* Image width is 70% of viewport width */
    max-width: 70%;          /* Ensure the image does not exceed 70% of container width */
    height: auto;            /* Maintain aspect ratio */
    margin-bottom: 1.5em;
    border-radius: 50%;      /* Makes the image circular */
    object-fit: cover;       /* Ensures the image scales correctly within the circle */
    display: block;          /* Centers the image horizontally */
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1 / 1;     /* Maintains a square aspect ratio */
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #1db954;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1ed760;
}
