/* General Styles */

body {
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

/* Band Name at the Top */

.band-name {
    padding: 20px 0;  /* Padding from the top */
}

/* Center the Container Vertically */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Centers vertically */
    min-height: calc(100vh - 80px); /* Subtract the height of the band-name section */
}

/* Album Name */

h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #b3b3b3;
}

/* Image Styles */

.image-wrapper {
    width: 70vw;
    max-width: 300px;    /* Limit image size on PC */
    max-height: 70vw;
    margin: 0 auto 1.5em auto;
    border-radius: 50%;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Button Styles */

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #1db954;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-top: 1em;
}

.btn:hover {
    background-color: #1ed760;
}

/* Media Queries for Responsive Design */

/* Increase text and button size on mobile devices */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .btn {
        font-size: 1.2em;
        padding: 20px 40px;
    }
}

/* Adjust image size on larger screens */
@media (min-width: 768px) {
    .image-wrapper {
        width: 30vw;
        max-width: 250px;  /* Further limit image size on larger screens */
    }

    h2 {
        font-size: 2.5em;
    }
}
